* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* ------------------COMMON---------------- */

.hidden {
    display: none;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* ------------------HEADER---------------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list,
.contacts {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    line-height: 1.17;
    text-decoration: none;
}

.web-name {
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .burger-btn {
        display: none;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .navigation-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .navigation-link {
        position: relative;
        display: block;
        padding: 24px 0;
        font-weight: 500;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-link.active {
        color: #404bbf;
    }

    .navigation-link.active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: currentColor;
        border-radius: 2px;

    }

    .navigation-link:hover,
    .navigation-link:focus {
        color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .header-logo {
        margin-right: 76px;
    }

    .contacts {
        margin-left: auto;
    }

    .contacts-list {
        gap: 40px;
        flex-direction: row;
        align-items: center;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* -------mobile-menu------- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;

}


.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;
}

.mobile-menu-navigation {
    margin-bottom: auto;
}

.mobile-menu-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-navigation-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #2e2f42;
}

.span-mobile-menu {
    color: #404bbf;
}

.mobile-menu-contacts {
    margin-bottom: 48px;

}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.mobile-menu-contacts-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

}

.mobile-menu-contacts-link {
    text-decoration: none;
    color: #434455;
}

.span-mobile-menu-link {
    color: #4d5ae5;
}

.mobile-menu-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-mobile-menu {
    color: #f4f4fd;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.mobile-menu-social-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* ------------------ORDER---------------- */

.order {
    padding-bottom: 72px;
    padding-top: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/order-bg.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/order-bg-2x.jpg);
    }
}

.order-title {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.order-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.04em;
    white-space: nowrap;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .order {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .order-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .order {
        padding-bottom: 188px;
        padding-top: 188px;
    }

    .order-title {
        margin-bottom: 48px;
    }
}

/* ------------------FEATURES---------------- */

.features-item-svg {
    display: none;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-item-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
    text-align: center;
}

.features-text {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .features-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-item-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features-item-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        background-repeat: no-repeat;
        margin-bottom: 8px;
    }

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }
}

/* ------------------TEAM---------------- */

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    color: #2e2f42;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    align-items: center;
}

.container-team-item {
    padding: 32px 16px;
}

.team-item-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-card-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social {
    width: 40px;
    height: 40px;
    display: flex;
    color: #f4f4fd;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.social svg {
    fill: currentColor;
}

.social:hover,
.social:focus {
    background-color: #404bbf;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        padding: 0 92px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
        padding: 0;

    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

}